@media(max-width: 1139px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right {
    justify-content: center;
  }
}

@media(max-width:1100px) {
  .contact-us-main-description-text{
      font-size: 18px;
  }

}

@media (max-width: 900px) {
  .contact-us-main-description-text{
      padding: 30px;
  }
  .contact-us-main-map-iframe{
      padding: 30px;
  }
}

@media(max-width: 870px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .container {
    flex-direction: column;
    gap: 50px;
  }

  .footer-list {
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  form {
    width: 80%;
  }
}

@media (max-width:700px) {
  .contact-us-main-content{
      flex-direction: column;
  }
  
  .half-container{
      width: 100%;
  }
}

@media(max-width: 600px) {
  .text-product {
    font-size: 18px;
  }

  .header-contents p{
    font-size: 26px;
  }
  
  .header-contents h1{
    font-size: 36px;
  }
  
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-card {
    width: 100%;
  }

  .burger {
    display: block;
  }

  .header-nav-list {
    position: fixed;
    height: 100vh;
    width: 50%;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000078;
    backdrop-filter: blur(4px);
    transform: translateX(100%);
    transition: .3s linear;
    gap: 40px;
    z-index: 10;
  }

  .burger:hover~.header-nav-list {
    transform: translateX(0);
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 50px;
  }

  .btn {
    padding: 20px 30px;
    height: 60px;
    width: 180px;
  }

  .footer-list {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width:500px) {
  .contact-us-main-description-text{
      font-size: 15px;
  }
  
  .contact-us-main-title{
    font-size: 40px;
  }
  
  .footer-list{
    gap: 20px;
  }
  
  .footer .container{
    gap: 20px;
  }
}

@media(max-width:370px) {
  .text-product {
    font-size: 15px;
  }
}